@use "../../../presets" as *;
@use "../../../mixins" as *;



.header {
// position: relative;

  min-height: 100vh;
  // св-во привязано к высоте экрана
  // display: flex;
  // ставим блоки друг под другом
  // flex-direction: column;
  // *высота блока header на весь экран
// margin-bottom: 500px;
}

.header-bg {}

.header-bg__image {
  display: block;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}